.Myhome {
    .hero{
      margin-top: 100px;
    }
  
    .choice{
      position: relative;
      background-color: lightslategray;
      width: 956px;
      height: 500px;
      margin: 0 auto;
      .link{
        display: block;
        color: white;
      }
      ul{
        margin-top: 70px;
        li{
          margin: 0 140px;
          NavLink {
            color: white;
          }
        }
      }
      
      .img{
        width: 100px;
        height: 100px;
  
      }
    }
  }